.cart-modal-back {
  position: fixed;
  z-index: 50;
  width: 47%;
  height: 100%;
  background-color: #00000033;
}
.cart-modal {
  position: fixed;
  z-index: 50;
  width: 53%;
  height: 100%;
  overflow-y: auto;
  left: 47%;
  background-color: #fff;
  padding: 50px 15px 25px 25px;
  box-sizing: border-box;
}
.cart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2vw;
  padding-bottom: 20px;
}
