.next-shop-category {
  display: flex;
  margin-top: 60px;
}
.next-shop-category img {
  width: 100%;
}
.next-shop-category-title {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
}
.next-shop-category-button {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 4vw;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.next-shop-category:hover {
  cursor: pointer;
}
.next-shop-category-button {
  cursor: pointer;
}
.next-shop-category svg {
  transition: transform 1s;
}
.next-shop-category:hover svg {
  cursor: pointer;
  transform: rotate(180deg);
}
