.clear-button {
  display: flex;
  justify-content: flex-end;
}
.clear-button button {
  background-color: transparent;
  border: none;
  color: #00000080;
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 15px;
  cursor: pointer;
}
.clear-button button:hover {
  color: #000000;
}
