.transparent-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.transparent-button:hover {
  background-color: #ffffff;
  color: #000000;
}
.transparent-button:hover svg path {
  fill: #000000;
}
