.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-title h2 {
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0;
}
.product-title span {
  font-size: 4vw;
  font-weight: 300;
}
