.trip-to-kabinet-lounge {
  margin-top: 70px;
  display: flex;
}
.trip-to-kabinet-lounge img {
  width: 100%;
}
.kabinet-lounge-title {
  position: absolute;
  width: 65%;
  margin-top: 10px;
  margin-left: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: #fff;
}
.kabinet-lounge-title-h2 {
  text-transform: uppercase;
  flex-basis: 55%;
}
.kabinet-lounge-title-desc {
  flex-basis: 35%;
  font-weight: 300;
  font-size: 1.2vw;
}
.kabinet-lounge-title-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
