.soc-net-icons-aside {
  float: left;
  width: 5%;
}
.soc-net-icons-aside svg {
  display: block;
  margin-top: 10px;
  transition: transform 0.5s;
}
.soc-net-icons-aside svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
