.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.subscribe-input {
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 2vw;
}
.subscribe-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 2vw;
  font-weight: 300;
  padding-right: 0;
}
.subscribe-button svg {
  transition: transform 1s;
}
.subscribe-button:hover svg {
  transform: rotate(180deg);
}
.subscribe .unvisible {
  display: none;
}
.thankyou {
  font-size: 2vw;
  text-align: center;
  color: #fff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 21px;
  padding-bottom: 21px;
}
