.link-to-about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.link-to-about-us img {
  width: 100%;
}
.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.link-to-about-us p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5vw;
  width: 45%;
}
