.filter-title {
  font-weight: 500;
  color: #000;
}
.filters-wrapper div {
  margin-bottom: 5px;
}
.filters-wrapper input {
  display: none;
}
.filters-wrapper input + label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.filters-wrapper input + label:before {
  content: "";
  border: 1px solid #0000004d;
  border-radius: 2px;
  height: 13px;
  width: 13px;
}
.filters-wrapper input:checked + label:before {
  background-color: #000;
  border-color: #000;
}
