.main-links-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  margin-top: 30px;
}
.list-menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  text-transform: uppercase;
}
.list-menu-footer ul {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 0;
}
.list-menu-footer ul li {
  color: #ffffffb2;
  padding-top: 5px;
  padding-bottom: 5px;
}
.soc-net-icons {
  display: flex;
  justify-content: right;
  gap: 35px;
  width: 50%;
}
.soc-net-icons svg {
  width: 36px;
  height: 36px;
  transition: transform 0.5s;
}
.soc-net-icons svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
