.shop-category-with-title h2 {
  margin-top: 50px;
}
.shop-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 30px;
}
.shop-item-img {
  border-radius: 8px;
  border: 1px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.shop-item-img img {
  width: 100%;
}
.shop-item-title {
  display: flex;
  justify-content: space-between;
}
.shop-item {
  text-transform: uppercase;
}